.cms-newsletter,
.cms-subscribed,
.cms-subscription,
.cms-unsubscribe,
.cms-unsubscribed {
  background: url("../img/newsletter-2.jpg"); }
  .cms-newsletter .newsletter-wrapper .image,
  .cms-subscribed .newsletter-wrapper .image,
  .cms-subscription .newsletter-wrapper .image,
  .cms-unsubscribe .newsletter-wrapper .image,
  .cms-unsubscribed .newsletter-wrapper .image {
    background-image: url("../img/newsletter-1.jpg"); }

.cms-unsubscribe-me,
.cms-unsubscribe-confirmation {
  background: center/cover no-repeat url("../../../../../../../skin/frontend/cropp/uniframe/images/backgrounds/bg-login.jpg");
  background-attachment: fixed; }

.cms-subscribed .newsletter-wrapper .image,
.cms-subscription .newsletter-wrapper .image {
  position: relative; }
  .cms-subscribed .newsletter-wrapper .image[class*="coupon-"]:after,
  .cms-subscription .newsletter-wrapper .image[class*="coupon-"]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/newsletter-coupon-10.png") center center no-repeat;
    width: 563px;
    height: 538px;
    content: ''; }
  .cms-subscribed .newsletter-wrapper .image.coupon-10:after,
  .cms-subscription .newsletter-wrapper .image.coupon-10:after {
    background-image: url("../img/newsletter-coupon-10.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-11:after,
  .cms-subscription .newsletter-wrapper .image.coupon-11:after {
    background-image: url("../img/newsletter-coupon-11.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-12:after,
  .cms-subscription .newsletter-wrapper .image.coupon-12:after {
    background-image: url("../img/newsletter-coupon-12.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-13:after,
  .cms-subscription .newsletter-wrapper .image.coupon-13:after {
    background-image: url("../img/newsletter-coupon-13.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-14:after,
  .cms-subscription .newsletter-wrapper .image.coupon-14:after {
    background-image: url("../img/newsletter-coupon-14.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-15:after,
  .cms-subscription .newsletter-wrapper .image.coupon-15:after {
    background-image: url("../img/newsletter-coupon-15.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-16:after,
  .cms-subscription .newsletter-wrapper .image.coupon-16:after {
    background-image: url("../img/newsletter-coupon-16.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-17:after,
  .cms-subscription .newsletter-wrapper .image.coupon-17:after {
    background-image: url("../img/newsletter-coupon-17.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-18:after,
  .cms-subscription .newsletter-wrapper .image.coupon-18:after {
    background-image: url("../img/newsletter-coupon-18.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-19:after,
  .cms-subscription .newsletter-wrapper .image.coupon-19:after {
    background-image: url("../img/newsletter-coupon-19.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-20:after,
  .cms-subscription .newsletter-wrapper .image.coupon-20:after {
    background-image: url("../img/newsletter-coupon-20.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-21:after,
  .cms-subscription .newsletter-wrapper .image.coupon-21:after {
    background-image: url("../img/newsletter-coupon-21.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-22:after,
  .cms-subscription .newsletter-wrapper .image.coupon-22:after {
    background-image: url("../img/newsletter-coupon-22.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-23:after,
  .cms-subscription .newsletter-wrapper .image.coupon-23:after {
    background-image: url("../img/newsletter-coupon-23.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-24:after,
  .cms-subscription .newsletter-wrapper .image.coupon-24:after {
    background-image: url("../img/newsletter-coupon-24.png"); }
  .cms-subscribed .newsletter-wrapper .image.coupon-25:after,
  .cms-subscription .newsletter-wrapper .image.coupon-25:after {
    background-image: url("../img/newsletter-coupon-25.png"); }

.newsletter-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  background: rgba(0, 0, 0, 0.7); }

.newsletter-wrapper {
  font-family: bender, Tahoma, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%; }
  .newsletter-wrapper * {
    box-sizing: border-box; }
  .newsletter-wrapper input,
  .newsletter-wrapper button {
    outline: none; }
  .newsletter-wrapper input {
    color: #fff; }
    .newsletter-wrapper input:-webkit-autofill {
      color: #fff;
      box-shadow: inset 0 0 0 500px #cd492b;
      -webkit-text-fill-color: #fff !important; }
  .cms-newsletter .newsletter-wrapper, .cms-subscribed .newsletter-wrapper, .cms-subscription .newsletter-wrapper, .cms-unsubscribe .newsletter-wrapper, .cms-unsubscribed .newsletter-wrapper,
  .newsletter-wrapper .cms-unsubscribe-me,
  .newsletter-wrapper .cms-unsubscribe-confirmation {
    margin-top: 50px;
    position: static;
    transform: none; }
  .newsletter-popup .newsletter-wrapper {
    position: fixed; }
  .newsletter-wrapper a,
  .newsletter-wrapper a:hover,
  .newsletter-wrapper .checkbox-label {
    color: #fff;
    font-weight: 700; }
  .newsletter-wrapper .image {
    height: 34vh;
    overflow: hidden;
    text-align: right;
    background: url("../img/IMG_9321.jpg") 0 0 no-repeat;
    background-size: cover; }
  .newsletter-wrapper h2 {
    color: #fff;
    font-weight: 400;
    margin: 0 0 15px 0;
    font-size: 25px;
    line-height: 35px; }
    .newsletter-wrapper h2 strong {
      font-weight: 700; }
  .newsletter-wrapper .newsletter-outer {
    position: relative; }
  .newsletter-wrapper .newsletter-content {
    background: #12a75d;
    padding: 13px 40px 40px; }
  .newsletter-wrapper .email,
  .newsletter-wrapper .newsletter-submit {
    vertical-align: top; }
  .newsletter-wrapper .email {
    border: 3px solid #fff;
    width: calc(100% - 55px);
    display: inline-block;
    height: 40px;
    background: #12a75d;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 0;
    box-shadow: none; }
    .newsletter-wrapper .email.error {
      background: #cd492b; }
  .newsletter-wrapper .newsletter-submit {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-left: 0;
    display: inline-block;
    background: #12a75d;
    color: #fff;
    outline: none;
    padding: 0;
    cursor: pointer; }
    .newsletter-wrapper .newsletter-submit:before {
      content: '\279e';
      font-size: 26px; }
  .newsletter-wrapper .newsletter-terms {
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    -moz-appearance: initial;
    -webkit-appearance: initial;
    appearance: initial; }
    .newsletter-wrapper .newsletter-terms:checked ~ .checkbox-label:before {
      content: '\2713'; }
  .newsletter-wrapper .checkbox-wrapper {
    margin-top: 15px; }
  .newsletter-wrapper .input-wrapper,
  .newsletter-wrapper .checkbox-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .newsletter-wrapper .input-wrapper label.error,
    .newsletter-wrapper .input-wrapper .has-error,
    .newsletter-wrapper .checkbox-wrapper label.error,
    .newsletter-wrapper .checkbox-wrapper .has-error {
      order: 2; }
    .newsletter-wrapper .input-wrapper label.error,
    .newsletter-wrapper .input-wrapper .has-error,
    .newsletter-wrapper .input-wrapper .checkbox-label,
    .newsletter-wrapper .checkbox-wrapper label.error,
    .newsletter-wrapper .checkbox-wrapper .has-error,
    .newsletter-wrapper .checkbox-wrapper .checkbox-label {
      width: 100%; }
  .newsletter-wrapper .checkbox-label {
    display: block; }
    .newsletter-wrapper .checkbox-label:before {
      display: inline-block;
      content: '';
      color: #fff;
      border: 2px solid #fff;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 18px;
      line-height: 18px;
      margin-right: 5px; }
  .newsletter-wrapper label.error,
  .newsletter-wrapper .has-error {
    color: #cd492b;
    margin-top: 7px;
    font-weight: 700; }
  .newsletter-wrapper .close-button {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer; }
    .newsletter-wrapper .close-button:before, .newsletter-wrapper .close-button:after {
      content: '';
      position: absolute;
      height: 8px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -4px;
      background: #fff; }
    .newsletter-wrapper .close-button:before {
      transform: rotate(45deg); }
    .newsletter-wrapper .close-button:after {
      transform: rotate(-45deg); }
    .cms-newsletter .newsletter-wrapper .close-button, .cms-subscribed .newsletter-wrapper .close-button, .cms-subscription .newsletter-wrapper .close-button, .cms-unsubscribe .newsletter-wrapper .close-button, .cms-unsubscribed .newsletter-wrapper .close-button,
    .newsletter-wrapper .close-button .cms-unsubscribe-me,
    .newsletter-wrapper .close-button .cms-unsubscribe-confirmation {
      display: none; }
  .newsletter-wrapper .lines .line {
    background: #fff;
    width: calc(100% - 2 * 20px);
    height: calc(100% - 2 * 20px);
    position: absolute; }
    .newsletter-wrapper .lines .line.top, .newsletter-wrapper .lines .line.bottom {
      height: 3px;
      margin: 0 20px; }
    .newsletter-wrapper .lines .line.left, .newsletter-wrapper .lines .line.right {
      width: 3px;
      top: 20px; }
    .newsletter-wrapper .lines .line.top {
      top: 20px; }
      .newsletter-popup .newsletter-wrapper .lines .line.top {
        width: calc(100% - 3.3 * 20px); }
    .newsletter-wrapper .lines .line.right {
      right: 20px; }
      .newsletter-popup .newsletter-wrapper .lines .line.right {
        height: calc(100% - 3.3 * 20px);
        top: calc(2.3 * 20px); }
    .newsletter-wrapper .lines .line.bottom {
      bottom: 20px; }
    .newsletter-wrapper .lines .line.left {
      left: 20px; }
  .newsletter-wrapper .info-text {
    color: #fff;
    padding-top: 20px;
    margin-bottom: 50px; }

.cms-unsubscribe-me .header-controls .controls-container,
.cms-unsubscribe-confirmation .header-controls .controls-container {
  display: none; }
.cms-unsubscribe-me .newsletter-unsubscribe,
.cms-unsubscribe-confirmation .newsletter-unsubscribe {
  padding: 40px 20px;
  margin: 100px 30px;
  background: rgba(255, 255, 255, 0.8);
  position: relative; }
  .cms-unsubscribe-me .newsletter-unsubscribe h2,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0; }
  .cms-unsubscribe-me .newsletter-unsubscribe .text,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .text {
    font-size: 15px;
    font-weight: normal;
    margin-top: 25px;
    line-height: 1.5; }

.cms-unsubscribe-me .close-button,
.cms-unsubscribe-confirmation .close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 53px;
  text-align: center;
  line-height: 1;
  color: #919191;
  text-decoration: none; }
  .cms-unsubscribe-me .close-button:after,
  .cms-unsubscribe-confirmation .close-button:after {
    content: "\D7"; }
  .cms-unsubscribe-me .close-button:hover,
  .cms-unsubscribe-confirmation .close-button:hover {
    color: #000; }
.cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form,
.cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form {
  margin-top: 30px; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form *,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form * {
    display: block; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form span,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form span {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form button,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form button {
    margin-top: 30px; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .icon,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .icon {
    display: inline-block;
    margin-left: 6px; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .unsubcribe-input,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .unsubcribe-input {
    width: 100%;
    display: block;
    font-size: 14px;
    background: #fff;
    color: #7b7b7b;
    border: 1px #a8a8a8 solid;
    padding: 0 8px;
    height: 28px; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-error:after, .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-success:after,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-error:after,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-success:after {
    position: absolute;
    right: 10px;
    top: 26px;
    height: auto;
    font-size: 16px;
    font-weight: 900; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-error input,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-error input {
    border: 2px solid #cb0000; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-error:after,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-error:after {
    content: "!";
    color: #cb0000; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-error .has-error,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-error .has-error {
    color: #cb0000;
    position: absolute;
    top: 0;
    right: 0; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-success input,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-success input {
    border: 2px solid #00af43; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .has-success:after,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .has-success:after {
    content: "\2713";
    color: #00af43; }
  .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form .input-wrapper,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form .input-wrapper {
    position: relative;
    width: 100%; }

.cms-unsubscribe-confirmation .newsletter-unsubscribe .text-2 {
  font-size: 14px;
  line-height: 1.5;
  opacity: .5;
  margin-top: 30px; }

@media screen and (orientation: landscape) {
  .image,
  .newsletter-content {
    display: inline-block;
    width: 50%; }

  .newsletter-inner {
    display: flex; }

  .newsletter-popup .newsletter-wrapper {
    margin-top: 20px; }
  .newsletter-wrapper .image {
    height: auto; }
  .newsletter-wrapper .newsletter-content {
    padding: 35px 40px 40px 20px; } }
@media screen and (min-width: 768px) {
  .image,
  .newsletter-content {
    display: inline-block;
    width: 50%; }

  .newsletter-inner {
    display: flex; }

  .newsletter-wrapper .image {
    height: auto; }
  .newsletter-wrapper .newsletter-content {
    padding: 45px 40px 45px 20px; }
  .newsletter-wrapper h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 27px 0; }
  .newsletter-wrapper .email {
    height: 50px;
    border: 5px solid #fff; }
  .newsletter-wrapper .newsletter-submit {
    border: 5px solid #fff;
    border-left: 0;
    width: 50px;
    height: 50px; }
  .newsletter-wrapper .checkbox-wrapper {
    margin-top: 30px; }
  .newsletter-wrapper .lines .line.top, .newsletter-wrapper .lines .line.bottom {
    height: 5px; }
  .newsletter-wrapper .lines .line.left, .newsletter-wrapper .lines .line.right {
    width: 5px; } }
@media screen and (min-width: 768px) and (max-height: 400px) {
  .newsletter-wrapper h2 {
    font-size: 26px;
    margin: 0 0 17px 0; }
  .newsletter-wrapper .newsletter-content {
    padding: 35px 40px 35px 20px; }
  .newsletter-wrapper .newsletter-wrapper .checkbox-wrapper {
    margin-top: 20px; } }
@media screen and (min-width: 1024px) {
  .newsletter-wrapper {
    max-width: 990px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%); }
    .cms-newsletter .newsletter-wrapper, .cms-subscribed .newsletter-wrapper, .cms-subscription .newsletter-wrapper, .cms-unsubscribe .newsletter-wrapper, .cms-unsubscribed .newsletter-wrapper,
    .newsletter-wrapper .cms-unsubscribe-me,
    .newsletter-wrapper .cms-unsubscribe-confirmation {
      margin-top: 15vh; }
    .newsletter-wrapper h2 {
      font-size: 36px;
      line-height: 50px; }
      .newsletter-wrapper h2 strong {
        font-size: 48px; }
    .newsletter-wrapper .image {
      min-height: 500px; }
    .newsletter-wrapper .newsletter-content {
      padding: 55px 40px 55px 40px; }
    .newsletter-wrapper .newsletter-submit:before {
      font-size: 36px; }
    .newsletter-wrapper .email {
      width: calc(100% - 75px); }

  .cms-unsubscribe-me .newsletter-unsubscribe,
  .cms-unsubscribe-confirmation .newsletter-unsubscribe {
    width: 800px;
    margin: 170px auto;
    background: #fff; }
    .cms-unsubscribe-me .newsletter-unsubscribe h2,
    .cms-unsubscribe-confirmation .newsletter-unsubscribe h2 {
      font-size: 24px;
      text-transform: uppercase; }
    .cms-unsubscribe-me .newsletter-unsubscribe .text,
    .cms-unsubscribe-confirmation .newsletter-unsubscribe .text {
      font-size: 15px; }
    .cms-unsubscribe-me .newsletter-unsubscribe .newsletter-form,
    .cms-unsubscribe-confirmation .newsletter-unsubscribe .newsletter-form {
      width: 50%; } }
@media screen and (min-width: 1280px) {
  .newsletter-wrapper {
    max-width: 1260px; }
    .newsletter-wrapper h2 {
      font-size: 48px;
      line-height: 60px; }
      .newsletter-wrapper h2 strong {
        font-size: 60px;
        display: block;
        margin-top: 5px; }
    .newsletter-wrapper .newsletter-content {
      padding: 100px 40px 65px 40px; }
    .newsletter-wrapper .newsletter-submit:before {
      font-size: 36px; }
    .newsletter-wrapper .email {
      width: calc(100% - 105px);
      height: 60px; }
    .newsletter-wrapper .newsletter-submit {
      width: 60px;
      height: 60px; }
      .newsletter-wrapper .newsletter-submit:before {
        font-size: 45px; }
    .newsletter-wrapper .checkbox-wrapper {
      margin-top: 20px; }
    .newsletter-wrapper .close-button {
      top: 17px;
      right: 17px;
      width: 50px;
      height: 50px; }
      .newsletter-wrapper .close-button:before, .newsletter-wrapper .close-button:after {
        height: 5px; }
    .newsletter-wrapper .lines .line {
      width: calc(100% - 2 * 40px);
      height: calc(100% - 2 * 40px); }
      .newsletter-wrapper .lines .line.top, .newsletter-wrapper .lines .line.bottom {
        margin: 0 40px; }
      .newsletter-wrapper .lines .line.left, .newsletter-wrapper .lines .line.right {
        top: 40px; }
      .newsletter-wrapper .lines .line.top {
        top: 40px; }
        .newsletter-popup .newsletter-wrapper .lines .line.top {
          width: calc(100% - 3 * 40px); }
      .newsletter-wrapper .lines .line.right {
        right: 40px; }
        .newsletter-popup .newsletter-wrapper .lines .line.right {
          height: calc(100% - 3 * 40px);
          top: calc(2 * 40px); }
      .newsletter-wrapper .lines .line.bottom {
        bottom: 40px; }
      .newsletter-wrapper .lines .line.left {
        left: 40px; } }

/*# sourceMappingURL=styles.css.map */
